<mat-card class="register-card">
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
     <mat-card-header class="card-header">
           <mat-card-title>Login</mat-card-title>
     </mat-card-header>
     <mat-card-content>
         <mat-form-field class="new-form-field" >
             <input matInput placeholder="Username" formControlName="userName"   >
           </mat-form-field>
           <br>
           <mat-form-field class="new-form-field" >
               <input matInput placeholder="Password" formControlName="password" type="password" >
           </mat-form-field>
           <br>
         
     </mat-card-content>
     <mat-card-actions align="end">
       <a mat-raised-button color="warning" routerLink="/register">SignUp</a>
       <button  mat-raised-button color="primary" [disabled]="!loginForm.valid" class="new-form-button">Login</button>
     </mat-card-actions>
   </form>
 </mat-card>